/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  /* Cancel out some differences between browser defaults */
	font: inherit;
	vertical-align: baseline;
	margin: 0;
    padding: 0;
    border: 0;
}
 
* {
  /* Padding and borders will be subtracted from the content box width, not added to it. */
	box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  /* Make sure the browser knows how to display HTML5 elements */
	display: block;
}


/* TYPOGRAPHY, COLOUR, BORDERS */

body, input, button {
    font-family: "Helvetica-Neue",Helvetica,Arial,sans-serif;
	font-size: 1rem;
	color: #113A0E;
	background-color: #FFF8F8;
}

header, nav, footer {
	background-color: #113A0E;
	color: #FFF8F8;
}

h1, legend {
	font-family: Georgia, "Times New Roman", serif;
}

h1 {
	font-weight: bold;
    font-size: 2rem;
}

fieldset {
	border: #113A0E solid 0.1em;
}

legend {
	font-size: 1.25rem;
}

#save_button {
	font-size: 1.25rem;
}

footer {
	font-size: 0.75rem;
}


/* BORDERS and MARGINS */

p {
    margin-bottom: 1em;
}

nav ul, footer ul{
	padding-top: 1em;
	padding-bottom: 1em;
}

fieldset {
	margin-left : 2em;
	margin-right : 2em;
	margin-top : 1em;
	padding-top : 0.5em;
	padding-bottom : 1em;
}

fieldset legend {
	margin-left: 2em;
	padding-left: 0.5em;
	padding-right : 0.5em;
}

fieldset label {
	margin-right: 1em;
	text-align: right;
}

#products_purchased_list {
	padding-left: 1em;
}

button {
	margin-left: 1em;
}

#visit>p {
	margin-top: 1em;
}

/* NAVIGATION */

li{
    list-style: none;
}

nav li:hover, #purchase_list li:hover {
	font-size: 1.5rem;
	cursor: pointer;
}

li.selected {
	color : #ff0055;
}

button {
	width: 10em;
	text-align: center;
}


/* IMAGES & VIDEOS */

header img {
    height: 100%;
}


/* LAYOUT */

header {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 5em;
}

header h1 {
	margin-left: 2em;
}

nav ul, footer ul {
	display: flex;
	justify-content: space-around;
}

main {
	width: 40em;
	margin: 0 auto;
}

#base_data label {
	width: 15em;
}

#products_purchased label{
	width: 7.5em;
}

#product_purchased {
	width: 15em;
}

fieldset p{
	display: flex;
	justify-content: start;
	align-items: center;
}

#visit_date {
	width: 9em;
}

#visit_place {
	width: 18em;
}

#visit_rating {
	width: 3em;
}

#visit_spend {
	width: 6em;
}

#products_purchased_list {
	display: flex;
	justify-content: start;
	align-items: top;
}

#products_purchased_list h3 {
	width: 7.5em;
}

#purchase_list {
	width: 15em;
}

#remove_button {
	vertical-align: top;
	height: 1.5em;
}

#visit>p {
	text-align: center;
}








